@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --size-1: 0.5rem;
    --size-2: 0.75rem;
    --size-3: 1rem;
    --size-4: 2rem;
    --color-1: #6f151e;
    --color-2: #f7f1e4;
    --light-1: #fafafa;
    --light-2: #e8e8e8;
    --dark-1: #252525;
    --dark-2: #444444;
}

* {
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(8px, 1.5vw, 16px);
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.dashboard .header {
    align-items: center;
    background-color: var(--color-1);
    color: var(--light-2);
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    max-height: 10rem;
    padding: var(--size-4);
    width: 100%;
}

.dashboard .header .left {
    display: flex;
    gap: var(--size-2);
    width: 100%;
}

.dashboard .header .left .logo {
    border-radius: 100%;
    max-height: 5rem;
}

.dashboard .header .left .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.dashboard .header .center {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    width: 100%;
}

.dashboard .header .right {
    align-items: center;
    display: flex;
    gap: var(--size-2);
    justify-content: flex-end;
    width: 100%;
}

.dashboard .header .right .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 100%;
}

.dashboard .header .right .profile {
    border-radius: 100%;
    max-height: 5rem;
}

.dashboard .nav {
    background-color: var(--color-2);
    color: var(--color-1);
    display: flex;
    height: 3rem;
    width: 100%;
}

.dashboard .nav .link {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    gap: var(--size-1);
    height: 100%;
    justify-content: center;
    transition: background-color 0.25s, color 0.25s;
    width: 100%;
}

.dashboard .nav .link:hover {
    background-color: var(--color-1);
    color: var(--light-2);
}

.dashboard .nav #currentPage {
    background-color: var(--light-1);
    border-radius: 10px 10px 0px 0px;
    color: var(--dark-1);
    height: calc(100% + var(--size-1));
    margin-top: calc(var(--size-1) * -1);
    width: calc(100% + var(--size-1));
}

.dashboard .content {
    align-items: center;
    background-color: var(--light-color-1);
    background-color: var(--light-1);
    color: var(--dark-2);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--size-4);
    justify-content: center;
    width: 100%;
}

.dashboard .content .fa-screwdriver-wrench {
    font-size: 15rem;
}

.dashboard .footer {
    align-items: center;
    background-color: var(--color-1);
    color: var(--light-2);
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: var(--size-3);
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .dashboard .header .details * {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .dashboard .nav .details {
        display: none;
    }
}