@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --large: 2rem;
    --medium: 1rem;
    --small: 0.75rem;
    --extra-small: 0.5rem;
    --color-1: #6f151e;
    --color-2: #f7f1e4;
    --light-1: #fafafa;
    --light-2: #e8e8e8;
    --dark-1: #252525;
    --dark-2: #444444;
}

* {
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/*
.card {
    align-items: center;
    background-color: var(--light-color-1);
    border-radius: var(--large-sizing);
    box-shadow: 1px 1px 6px var(--dark-color-2);
    color: var(--dark-color-2);
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--medium-sizing);
    padding: var(--large-sizing);
}
*/

.primary-block {
    align-items: center;
    background-color: var(--color-1);
    border: none;
    color: var(--light-2);
    display: flex;
    font-weight: bold;
    gap: var(--medium);
    padding: var(--medium);
    width: 100%;
}

.secondary-block {
    align-items: center;
    background-color: var(--color-2);
    border: none;
    color: var(--color-1);
    display: flex;
    font-weight: bold;
    gap: var(--medium);
    padding: var(--medium);
    width: 100%;
}

.blank-block {
    border: none;
    display: flex;
    width: 100%;
    color: inherit;
    gap: var(--small);
}

.clickable:hover {
    cursor: pointer;
}

.logo,
.profile {
    border-radius: 100%;
    max-height: 5rem;
}

.login {
    background-image: url("../img/bg-pattern.jpg");
}

.login .card {
    align-items: center;
    background-color: var(--light-1);
    border-radius: var(--large);
    box-shadow: 1px 1px 6px var(--dark-2);
    display: flex;
    flex-direction: column;
    gap: var(--medium);
    max-width: 25rem;
    padding: var(--large);
}

.login .card * {
    border-radius: var(--medium);
}

.login .header-text {
    color: var(--dark-2);
    width: 100%;
}

.login .header-block {
    align-items: center;
    background-color: var(--color-1);
    border: none;
    color: var(--light-2);
    display: flex;
    font-weight: bold;
    gap: var(--medium);
    margin-block: var(--medium);
    padding: var(--medium);
    width: 100%;
}

.login .logo {
    border-radius: 100%;
    max-height: 5rem;
}

.login .form {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    width: 100%;
}

.login .input-field {
    align-items: center;
    display: flex;
}

.login .fa-solid {
    color: var(--color-1);
    padding-left: calc(var(--small) + var(--extra-small));
    position: absolute;
}

.login .input {
    background-color: var(--color-2);
    border: none;
    color: var(--color-1);
    font-size: var(--medium);
    font-weight: bold;
    padding: var(--medium);
    padding-left: calc(var(--large) + var(--small));
    width: 100%;
}

.login .input::placeholder {
    color: inherit;
}

.login .action-field {
    color: var(--dark-2);
    display: flex;
    gap: var(--small);
    justify-content: center;
    width: 100%;
}

.login .action-field .left {
    align-items: center;
    display: flex;
    gap: var(--extra-small);
    width: 100%;
}

.login .action-field .left > *:hover {
    cursor: pointer;
}

.login .action-field .right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.login .checkbox {
    height: var(--medium);
    transform: scale(1);
    transform-origin: center;
    width: var(--medium);
}

.login .button {
    background-color: var(--color-1);
    border: none;
    color: var(--light-2);
    font-size: var(--medium);
    font-weight: bold;
    margin-block: var(--medium);
    padding: var(--medium);
}

.login .button:hover {
    cursor: pointer;
}

.login .footer {
    color: var(--dark-2);
    font-size: var(--small);
    text-align: center;
}

.header {
    max-height: 10rem;
    padding: var(--large);
}

.nav {
    gap: 0;
    height: 3rem;
    padding: 0;
}

.nav a {
    height: 100%;
    transition: background-color, color, .3s;
}

.nav a:hover {
    background-color: var(--color-1);
    color: var(--light-color-2);
}

.nav #currentPage {
    background-color: var(--light-color-1);
    border-radius: 10px 10px 0px 0px;
    color: var(--dark-color-1);
    height: calc(100% + var(--medium-sizing));
    width: calc(100% + var(--medium-sizing));
}

.content {
    background-color: var(--light-color-1);
    width: 100%;
}

.content * {
    color: var(--dark-color-2);
}

.content i {
    font-size: 15rem;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
    .details, 
    .details > * {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 8px;
    }
}

.ai-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.fg-children > * {
    flex-grow: 1;
}

.fg-self {
    flex-grow: 1;
}

.fs-small {
    font-size: var(--small-sizing);
}

.g-extra-small {
    gap: var(--extra-small-sizing);
}

.g-none {
    gap: none;
}

.jc-center {
    justify-content: center;
}

.jc-flex-end {
    justify-content: flex-end;
}

.jc-space-between {
    justify-content: space-between;
}

.mb-medium {
    margin-block: var(--medium-sizing);
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.tw-no-wrap {
    text-wrap: nowrap;
}