@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  --color-primary: #6f151e;
  --color-secondary: #f7f1e4;
  --color-background: #fafafa;
  --color-surface: #e8e8e8;
  --color-foreground: #252525;
  --color-muted-foreground: #444444;
  --color-shadow: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.not-found {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  inset: 0;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  z-index: 9999;
}

.not-found__icon {
  color: var(--color-foreground);
  font-size: 8rem;
}

.not-found__text {
  color: var(--color-foreground);
  font-size: 2rem;
  text-align: center;
  text-wrap: wrap;
}

.warning {
  display: none;
}

@media only screen and (max-width: 1280px) {
  body > *:not(.warning):not(.warning *) {
    display: none;
  }

  .warning {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    inset: 0;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    position: fixed;
    z-index: 9999;
  }
}

.warning__icon {
  font-size: 8rem;
}

.warning__text {
  font-size: 2rem;
  text-align: center;
  text-wrap: wrap;
}

body[data-page="index"],
body[data-page="forgot-password"] {
  background-image: url("../img/background.jpg");
}

.form {
  align-items: center;
  background-color: var(--color-background);
  border-radius: 2rem;
  box-shadow: 0 4px 12px var(--color-shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
  padding: 2rem;
}

.form__heading {
  color: var(--color-muted-foreground);
  width: 100%;
}

.form__header {
  align-items: center;
  background-color: var(--color-primary);
  border: none;
  border-radius: 1rem;
  display: flex;
  font-weight: bold;
  gap: 1rem;
  margin-block: 1rem;
  padding: 1rem;
  width: 100%;
}

.form__header-logo {
  border-radius: 100%;
  max-height: 5rem;
}

.form__header-text {
  color: var(--color-surface);
  font-size: 1.15rem;
}

.form__main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.form__section {
  align-items: center;
  display: flex;
  width: 100%;
}

.form__section--input {
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
}

.form__section--action {
  flex-direction: row;
  justify-content: space-between;
}

.form__input-field {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.form__input-field-icon {
  color: var(--color-primary);
  padding-left: 1.25rem;
  position: absolute;
}

.form__input-field-input {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 1rem;
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  padding-left: 2.75rem;
  width: 100%;
}

.form__input-field-input::placeholder {
  color: inherit;
}

.form__action-field {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.form__action-field *:hover {
  cursor: pointer;
}

.form__action-field--left {
  justify-content: flex-start;
}

.form__action-field--right {
  justify-content: flex-end;
}

.form__label {
  color: var(--color-muted-foreground);
}

.form__link {
  color: var(--color-muted-foreground);
}

.form__button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 1rem;
  color: var(--color-surface);
  font-size: 1rem;
  font-weight: bold;
  margin-block: 1rem;
  padding: 1rem;
}

.form__button:hover {
  cursor: pointer;
}

.form__footer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.form__footer-text {
  color: var(--color-muted-foreground);
  font-size: 0.75rem;
  text-align: center;
}

.header {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  max-height: 10rem;
  padding: 2rem;
  width: 100%;
  z-index: 1;
}

.header__section {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  width: 100%;
}

.header__section--left {
  justify-content: flex-start;
}

.header__section--center {
  justify-content: center;
}

.header__section--right {
  justify-content: flex-end;
}

.header__image {
  border-radius: 100%;
  max-height: 5rem;
}

.header__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header__text-container--left {
  text-align: left;
}

.header__text-container--right {
  text-align: right;
}

.header__text {
  color: var(--color-surface);
  text-wrap: nowrap;
  white-space: nowrap;
}

.header__text--heading {
  font-size: 2rem;
}

.nav {
  background-color: var(--color-secondary);
  display: flex;
  height: 3rem;
  width: 100%;
  z-index: 1;
}

.nav__list {
  display: flex;
  width: 100%;
}

.nav__list-item {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.nav__link {
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  gap: 0.5rem;
  height: 100%;
  justify-content: center;
  transition:
    background-color 0.25s,
    color 0.25s;
  width: 100%;
}

.nav__link:hover {
  background-color: var(--color-primary);
  color: var(--color-surface);
}

.nav__link[aria-current="page"] {
  background-color: var(--color-background);
  border-radius: 0.5rem 0.5rem 0 0;
  color: var(--color-foreground);
  height: calc(100% + 1.5rem);
  margin-top: -0.5rem;
  width: calc(100% + 1.5rem);
}

.nav__icon {
  color: inherit;
}

.nav__text {
  color: inherit;
}

.main {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.maintenance {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.maintenance__icon {
  color: var(--color-muted-foreground);
  font-size: 15rem;
}

.maintenance__text {
  color: var(--color-muted-foreground);
  font-size: 2rem;
  text-align: center;
  text-wrap: nowrap;
}

.footer {
  align-items: center;
  background-color: var(--color-primary);
  box-shadow: 0 -4px 12px var(--color-shadow);
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  z-index: 1;
}

.footer__text {
  color: var(--color-surface);
  font-size: 0.75rem;
  text-align: center;
}
