

.index {
    height: 100vh;
    background-image: url(../images/login-page-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #808080;
    background-blend-mode: luminosity;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-content {
        height: 700px;
        width: 500px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px;
        display: flex;
        flex-direction: column;
        position: absolute;
        overflow: hidden;
        .login-header {
            height: 30%;
            padding: 20px;
            display: flex;
            align-items: center;
            background-color: var(--primary-color);
            .hau-logo {
                width: 100%;
                height: auto;
            }
        }
        .login-body {
            height: 70%;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--secondary-color);
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                .student-number input, .student-password input, .process-info, .login-button input {
                    width: 400px;
                }
                .information-header {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .student-info {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        .student-number, .student-password {
                            position: relative;
                            input {
                                border: 0px;
                                height: 60px;
                                padding: 10px 10px 10px 50px;
                                border-radius: 5px;
                                font-size: 30px;
                            }
                            i {
                                left: 15px;
                                top: 15px;
                                position: absolute;
                                font-size: 30px;
                                color: #808080;
                            }
                        }
                    }
                    .process-info {
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .login-button {
                    input[type="submit"] {
                        height: 60px;
                        border: 0px;
                        border-radius: 5px;
                        background-color: var(--primary-color);
                        color: #ffffff;
                        font-size: 30px;
                    }
                }
            }
            .information-footer {
                .school-info {
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-height: 750px) {
    .index {
        .login-content {
            height: 550px;
            width: 400px;
            .login-body {
                padding: 50px;
                form {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .student-number input, .student-password input, .process-info, .login-button input {
                        width: 300px;
                    }
                }
                .information-footer {
                    height: 0px;
                    display: none;
                    font-size: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .index {
        .login-content {
            height: 550px;
            width: 400px;
            .login-body {
                padding: 50px;
                form {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .student-number input, .student-password input, .process-info, .login-button input {
                        width: 300px;
                    }
                }
                .information-footer {
                    height: 0px;
                    display: none;
                    font-size: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .index {
        .login-content {
            height: 500px;
            width: 300px;
            .login-header {
                padding: 10px;
            }
            .login-body {
                padding: 40px;
                form {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .student-number input, .student-password input, .process-info, .login-button input {
                        width: 220px;
                    }
                    .process-info {
                        font-size: 12px;
                    }
                }
                .information-footer {
                    height: 0px;
                    display: none;
                    font-size: 0px;
                }
            }
        }
    }
}




















:root {
    --primary-color: #7c042e;
    --secondary-color: #f7f1e4;
    --background-white: #fafafa;
    --content-white: #ffffff;
    --border-color: #e8e8e8;
    --black-text: #252525;
    --white-text: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
}

.bricolage-grotesque-normal {
    font-family: "Bricolage Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.bricolage-grotesque-bold {
    font-family: "Bricolage Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.black-text {
    color: var(--black-text);
}

.white-text {
    color: var(--white-text);
}

.primary-text {
    color: var(--primary-color);
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.center-between {
    align-items: center;
    justify-content: space-between;
}

.center-start {
    align-items: center;
    justify-content: flex-start;
}

.center-end {
    align-items: center;
    justify-content: flex-end;
}

.grow * {
    flex-grow: 1;
}

.dashboard h1 {
    font-size: 2rem;
}

.dashboard h2 {
    font-size: 1.4rem;
}

.dashboard p {
    font-size: 1rem;
}

.dashboard .small-p {
    font-size: 0.8rem;
}

.dashboard header {
    height: 8rem;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
}

.dashboard header img {
    height: 80%;
    width: auto;
    border-radius: 100%;
}

.dashboard header section {
    height: 100%;
    gap: 1rem;
}

.dashboard nav {
    height: 3rem;
    width: 100%;
    border: 1px solid var(--border-color);
    border-top: 0px;
    background-color: var(--secondary-color);
}

.dashboard nav a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color, color, .3s;
}

.dashboard nav a:hover {
    background-color: var(--primary-color);
    transition: .3s;
}

.dashboard nav a:hover p {
    color: var(--white-text);
    transition: .3s;
}

.dashboard nav #currentPage {
    height: calc(100% + 1rem);
    background-color: var(--background-white);
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--border-color);
}

.dashboard nav #currentPage p {
    color: var(--black-text);
}

.dashboard nav #currentPage h3 {
    color: var(--black-text);
}

.dashboard main {
    flex-grow: 1;
    width: 100%;
    background-color: var(--background-white);
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.dashboard main img {
    content: fit;
}

.dashboard footer {
    height: 3rem;
    background-color: var(--primary-color);
}