:root {
    --primary-color: #7c042e;
    --secondary-color: #f7f1e4;
    --tertiary-color: #ffffff;
    --box-shadow-color: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    
}

.index {
    height: 100vh;
    background-image: url(../images/login-page-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #808080;
    background-blend-mode: luminosity;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-content {
        height: 700px;
        width: 500px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px;
        display: flex;
        flex-direction: column;
        position: absolute;
        overflow: hidden;
        .login-header {
            height: 30%;
            padding: 20px;
            display: flex;
            align-items: center;
            background-color: var(--primary-color);
            .hau-logo {
                width: 100%;
                height: auto;
            }
        }
        .login-body {
            height: 70%;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--secondary-color);
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                .student-number input, .student-password input, .process-info, .login-button input {
                    width: 400px;
                }
                .information-header {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .student-info {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        .student-number, .student-password {
                            position: relative;
                            input {
                                border: 0px;
                                height: 60px;
                                padding: 10px 10px 10px 50px;
                                border-radius: 5px;
                                font-size: 30px;
                            }
                            i {
                                left: 15px;
                                top: 15px;
                                position: absolute;
                                font-size: 30px;
                                color: #808080;
                            }
                        }
                    }
                    .process-info {
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .login-button {
                    input[type="submit"] {
                        height: 60px;
                        border: 0px;
                        border-radius: 5px;
                        background-color: var(--primary-color);
                        color: #ffffff;
                        font-size: 30px;
                    }
                }
            }
            .information-footer {
                .school-info {
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-height: 750px) {
    .index {
        .login-content {
            height: 550px;
            width: 400px;
            .login-body {
                padding: 50px;
                form {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .student-number input, .student-password input, .process-info, .login-button input {
                        width: 300px;
                    }
                }
                .information-footer {
                    height: 0px;
                    display: none;
                    font-size: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .index {
        .login-content {
            height: 550px;
            width: 400px;
            .login-body {
                padding: 50px;
                form {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .student-number input, .student-password input, .process-info, .login-button input {
                        width: 300px;
                    }
                }
                .information-footer {
                    height: 0px;
                    display: none;
                    font-size: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .index {
        .login-content {
            height: 500px;
            width: 300px;
            .login-header {
                padding: 10px;
            }
            .login-body {
                padding: 40px;
                form {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .student-number input, .student-password input, .process-info, .login-button input {
                        width: 220px;
                    }
                    .process-info {
                        font-size: 12px;
                    }
                }
                .information-footer {
                    height: 0px;
                    display: none;
                    font-size: 0px;
                }
            }
        }
    }
}

.dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        height: 150px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 30px;
        align-items: center;
        justify-content: space-between;
        color: white;
        background-color: var(--primary-color);
        img {
            height: 100%;
            border-radius: 100%;
        }
        h1 {
            font-family: "Oswald";
            font-weight: bold;
            font-size: 50px;
            text-wrap: nowrap;
        }
    }
    .nav {
        height: 75px;
        width: 100vw;
        background-color: var(--secondary-color);
        box-shadow: 1px .5px 2px 1px var(--box-shadow-color);
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            list-style-type: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 75px;
                width: 100%;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    font-family: "Oswald";
                    font-weight: bold;
                    text-decoration: none;
                    color: black;
                }
                transition: background-color, color, .3s;
            }
            li:hover {
                background-color: var(--primary-color);
                a {
                    color: var(--tertiary-color);
                }
                transition: .3s;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 40px;
        gap: 40px;
        flex: 1;
        background-image: url("../images/bg-pattern.jpg");
        background-size: cover;
        background-attachment: fixed;
        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 5px;
            h1 {
                font-family: "Oswald";
                font-weight: bold;
                font-size: 40px;
            }
            p {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 100px;
            .schedule, .calendar {
                border-radius: 20px;
                overflow: hidden;
            }
            div {
                height: 500px;
                width: 700px;
                box-shadow: 2px 2px 2px var(--box-shadow-color);
                .header {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--primary-color);
                    h1 {
                        font-family: "Oswald";
                        font-weight: bold;
                        font-size: 40px;
                    }
                }
                .body {
                    height: 80%;
                    background-color: #f7f1e4;
                }
            }
        }
    }
    .footer {
        height: 50px;
        width: 100%;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        p {
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 20px;
            color: #bdbdbd;
        }
    }
}